@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Red Hat Display';
    font-size: 16px;
}

.container {
    height: 100vh;
    background-image: url('../images/pattern-background-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(225,100%,94%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.display_card{
    background-color: #fff;
    margin: 0 auto;
    width: 85vw;
    height: auto;
    max-width: 400px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 50px -px rgb(183,101,241);
    padding-bottom: 2rem;
}

.card_img {
    width: 100%;
    height: auto;
}

.card_title 
{
    margin: 2rem 0 1rem 0;
    text-align: center;
    color:  hsl(223, 47%, 23%);
    font-weight: 900;
}

.card_description
{
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin: 0 2rem;
    line-height: 1.6rem;
    font-size: 1rem;
}

.card_plan{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    background-color: hsl(225, 100%, 98);
    border-radius: 12px;
    margin: 1.5rem 2rem 2rem 2rem;
    padding: 0.5rem 1rem;
}

.card_details{
    padding: 1rem;
}


.card_details strong{
    font-weight: 900;
    font-size: 0.9rem;
    color: hsl(223, 47%, 23%);
}

.card_details p {
    line-height: 1.7rem;
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
}

.card_change
{
    justify-self: end;
    align-self: center;
    font-weight: 700;
    font-size: 0.8rem;
    color: hsl(245, 75%, 52%);
}

.card_change:hover{
    text-decoration: none;
    color: hsl(245, 83%, 68%);
}

.btn
{
    display: block;
    text-align: center;
    padding: 0.7rem 0;
    margin: 0.8rem 2rem 0 2rem;
    border-radius: 12px;
    text-decoration: none;
}

.primary_button
{
    background-color: hsl(245, 75%, 52%);
    color: #fff;
    font-weight: 700;
    box-shadow: 0 18px 30px -7px rgb(197,189,245);
}

.primary_button:hover
{
    background-color: hsl(245, 83%, 68%);
}

.cancel_button
{
    color: hsl(224, 23%, 55%);
    font-size: 0.9rem;
    font-weight: 900;
    
}

.cancel_button:hover
{
    background-color: hsl(223, 47%, 23%);
}



.attribution
{
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}